
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Styles for the Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: rgb(19, 5, 5);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2e4b6f;
}

header .search input {
  padding: 0.5rem;
  margin-top: 10px;
  width: 250px;
  border-radius: 5px;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #2e4b6f;
  font-size: 1rem;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #1270af;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
}

/* Conteneur pour les filtres en ligne */
.filter-container {
  display: flex;
  justify-content: space-between; /* Espacement égal entre les filtres */
  gap: 20px; /* Espacement entre les éléments */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne sur les petits écrans */
  margin-bottom: 20px; /* Espacement sous les filtres */
}

/* Style individuel pour chaque filtre */
.filter-section {
  flex: 1; /* Les sections prennent chacune la même largeur */
  min-width: 200px; /* Largeur minimum pour chaque filtre */
  background-color: #f9f9f9; /* Fond doux */
  padding: 16px; /* Espacement interne */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Espacement pour le label de chaque filtre */
.filter-section .label {
  font-weight: bold;
  margin-bottom: 8px; /* Espacement sous le label */
}
